* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Montserrat';
  background: #000100;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.nav {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem 2rem;
  background: #000100;
  z-index: 1;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-bottom {
  position: absolute;
  top: 80px;
  width: 0%;
  z-index: 1;
  border-color: rgba(255,255,255, .2);
  border-width: .5px;
}

.logo {
  margin-top: 15px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 100px;
}

.menu-links {
  line-height: 1;
  margin-left: 30px;
}

.menu-links ul li{
  display: inline-block;
}
.menu-links ul li a{
  padding: 20px 30px;
  font-weight: 600;
  color: rgba(255,255,255, .5);
  transition: color 0.3s ease-in-out;
}
.menu-links ul li a:hover {
  color: white;
}

.search,
.cart {
  line-height: 3;
  font-size: 20px;
}

.cart {
  margin-left: 3rem;
}

/* FIRST SECTION  */
.first-section {
  margin-top: 120px;
  display: flex;
  /* background: red; */
}

/* TEXT AREA  */
.text {
  width: 50%;
  padding-left: 150px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
}

.subtitle::before {
  display: inline-block;
  content: "";
  border: 1px solid #fff;
  width: 80px;
  margin: 0 10px 0 0;
  transform: translateY(-4px);
}

.title {
  font-size: 120px;
  text-transform: uppercase;
  width: 0%;
  overflow: hidden;
  white-space: nowrap
}

.desc {
  color: rgba(255,255,255, .5);
  margin-top: 20px;
  line-height: 2;
}

.readmore {
  display: inline-block;
  margin-top: 40px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: bolder;
}

/* IMAGE BOX  */
.image-flip {
  width: 50%;
  margin-left: 2rem;
  display: none;
}
.image-flip img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

/* DISTORTION  */
.distortion {
  width: 50%;
}

/* RESPONSIVE DESIGN  */
@media (max-width: 1063px) {
  .first-section {
    padding: 0 2rem;
  }

  .text {
    padding-left: 0;
  }

  .title {
    font-size: 100px;
  }

  .desc {
    margin-top: 30px;
  }
}

@media (max-width: 1033px) {
  .distortion {
    display: none;
  }

  .image-flip {
    display: block;
  }
}

@media (max-width: 950px) {
  .menu-links {
    display: none;
  }
  .first-section {
    flex-direction: column !important;
      }

  .text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .image-flip {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .nav {
    padding-top: 0;
  }
  .logo {
    width: 80px;
  }

  .border-bottom {
    top: 60px;
  }

  .first-section {
    margin-top: 100px;
  }
  .title {
    font-size: 60px;
  }
}
/* OVERLAY  */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 2;
  background: #ec1417;
}

.first {
  top: 0;
}

.second {
  top: 33.3%
}

.third {
  top: 66.6%;
}